[Service]
ExecStart=/home/pi/rtl-ais/rtl_ais -n
Restart=always
RestartSec=30

[Unit]
After=network-online.target

[Install]
WantedBy=multi-user.target
